.chat{
    display: flex;
    align-items: center;
}

.chat-left{
    background-color: #000;
    width: 20%;
    height: 75vh;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-bottom: 1.5em;
    border-radius: 10px;
    border: 5px solid rgb(179, 179, 179);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h3{
        margin-top: 0.5em;
    }
}   

.chat-right{
    position: relative;
    background-color: #000;
    width: 80%;
    min-height: 75vh;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-bottom: 1.5em;
    margin-right: 1em;
    border-radius: 10px;
    border: 5px solid rgb(179, 179, 179);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.chat-right-bottom{
    margin-top: 0.5em;
    margin-bottom: 0.5em;                 
    display: flex;
    align-items: center;
    width: auto;
    
    button{
        margin-left: 1em;
        min-width: 2em;
        border-radius: 5px;
        border: none;
        height: 2em;
        font-size: 0.8em;
        font-weight: 900;
    }
}

.send{
    margin-left: 1em;
    min-width: 2em;
    border-radius: 5px;
    border: none;
    height: 2em;
    font-size: 0.8em;
    margin-right: 1em;
    font-weight: 900;
}

.chat-right-message{
    width: 100%;
    margin-left: 1em;
    border-radius: 5px;
    border: none;
    height: 2em;
    padding-left: 1em;
    font-size: 0.8em;
}

.chat-right-form{
    display:flex;
    width: 100%;
    align-items: center;
}

.chat-userlist{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        width: 80%;
        color: black;
        background-color: white;
        display: flex;
        margin: 0.3em;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 8px;
        height: 1.5em;
        padding: 0.5em;
        font: inherit;
    }
    button:hover{
        background-color: grey;
        cursor: pointer;
    }
}

.me{
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.2em;
}

.friend{
    display: flex;
    justify-content: flex-start;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.2em;
}

.messages{
    width: 100%;
    max-height: 65vh; 
    overflow:scroll;
}

.me{
    span{
        background-color: white;
        color: black;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 0.5em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        max-width: 50%;
    }
    span::selection{
        background-color: black;
        color: white;
    }
}

.friend{
    span{
        background-color: grey;
        color: black;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 0.5em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        max-width: 50%;
    }
    span::selection{
        background-color: black;
        color: white;
    }
}

.chat-name{
    background: linear-gradient(to top, black 50%, #0c0c0c 50%);
    padding: 0.4em;
    position: absolute;
    left: 0.5em;
    top: -1.3em;
    border: none;
    border-radius: 10px;
}