.navbar{
    background-color: #333;
    color: #f5ebe0;
    padding: 2em;
    display: flex;
    align-items: center;
    max-height: 10vh;
    /* box-shadow: 5px 5px 5px #202020; */
}

.right{
    display: flex;
    margin-left: auto;
    align-items: center;
    h3{
        margin-left: 0.5em;
    }   
}

.center{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.links{
    text-decoration: none;
    color: #f5ebe0;
    font-size: 1em;
}

.links:visited{
    color: #f5ebe0;
}

.links:active{
    color: #f5ebe0;
}

.links:hover{
    color: grey;
}


