.navbar{
    background-color: #9DD9D2;
    color: #16534f;
    padding: 2em;
    display: flex;
    align-items: center;
    max-height: 12vh;
    box-shadow: 5px 5px 5px #4c7976;
}

.right{
    display: flex;
    margin-left: auto;
    align-items: center;
    h2{
        margin: 0.5em;
    }
}

.links{
    text-decoration: none;
    color: #16534f;
}

.links:visited{
    color: #16534f;
}

.links:active{
    color: #16534f;
}

.links:hover{
    color: #072c2a
}


