.navbar{
    background-color: #9DD9D2;
    color: #16534f;
    padding: 2em;
    display: flex;
    align-items: center;
    max-height: 12vh;
    box-shadow: 5px 5px 5px #4c7976;
}

.right{
    display: flex;
    margin-left: auto;
    align-items: center;
    h3{
        margin: 0.5em;
    }
}

.center{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.links{
    text-decoration: none;
    color: #16534f;
    font-size: 1em;
}

.links:visited{
    color: #16534f;
}

.links:active{
    color: #16534f;
}

.links:hover{
    color: #072c2a
}


