body{
    background-color: #0c0c0c;
    color:white;
    font-family: monospace;
    font-size: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* for register and login page*/
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    justify-content: space-evenly;
    margin-top: 15vh;
    font-size: 1.3rem;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    max-width: 40vw;
    padding: 1.5em;
    border-radius: 0.8em;
    overflow: auto;
    border: 5px solid rgb(179, 179, 179);
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
}

.checkbox{
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.form button{
    padding: 0.8em;
    background-color:white;
    border: none;
    border-radius: 0.5em;
    color: #333;
    font-weight: 600;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.form button:hover{
    background-color:#333;
    color: black;
}

.viewpwd{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    accent-color: white;
    margin-bottom: 1em;
}

.error{
    color: rgb(255, 95, 95);
    font-size: 0.9em;
}

::selection{
    background-color: white;
    color: #000;
}

.input{
    background-color: black;
    color: white;
    height: 3em;
    width: 60%;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border: 4px solid white;
    border-radius: 15px;
    font-size: 0.9em;
    margin-bottom: 1em;
}

